body {
    padding: 50px 0px 50px 0px;
}

#title {
    font-weight: bold;
    margin-bottom: 20px;
}

.container > .row {
    margin-bottom: 20px;
}

#doc-form > .form-row {
    margin-bottom: 10px;
}

.pred-title {
    margin-bottom: 10px;
}

.pred-label, #concept-diff {
    text-align: center;
    font-weight: bold;
    border: #aaa solid 1px;
    border-radius: 5px;
    padding: 5px;
}

.pred-table .narrow-cell {
    width: 15%;
}

.progress {
    display: flex;
}

.progress-right {
    flex-direction: row-reverse;
}
