body {
    padding: 50px 0px 50px 0px;
}

.container > .row {
    margin-bottom: 20px;
}

#doc-form > .form-row {
    margin-bottom: 10px;
}

.pred-title {
    margin-bottom: 10px;
}

.pred-label {
    text-align: center;
    font-weight: bold;
    border: #000 solid 1px;
    padding: 5px;
}