<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Concept Difference</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
    <div id="init-container" class="container">
        <div id="heading" class="row">
            <div class="col text-center">
                <h1 id="title">Concept Difference</h1>
                <p>The concept difference between two documents is the difference in content between them - in text,
                    the topic under discussion, context, etc. Paste two documents in the boxes below and press "Get the prediction"
                    to retrieve the categories each of the documents could possibility belong to, and the concept difference between them.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form id="doc-form">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group text-center">
                                <label>Document 1</label>
                                <textarea id="doc1" class="form-control" rows="5" required></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group text-center">
                                <label>Document 2</label>
                                <textarea id="doc2" class="form-control" rows="5" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Get the prediction</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="prediction-container" class="container"></div>
    <script src="{{ url_for('static', filename='lib/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
